In [1]:
import pandas as pd
import requests

from pprint import pprint
from resources.api_keys import census_api_key

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)
pd.options.display.max_columns = None
pd.options.display.max_rows = 40

In [45]:
base_url = 'https://api.census.gov/data/2018/acs/acs5/pums?get='
weighting = 'PWGTP,'
variable_list = ['SEX', 'AGEP', 'HICOV', 'R65', 'R18', 'WKHP', 'JWTR']
industries = '&INDP=0170&INDP=0180&INDP=0190&INDP=0270&INDP=0280&INDP=0290&INDP=0370&INDP=0380&INDP=0390&INDP=0470&INDP=0490&INDP=0570&INDP=0580&INDP=0590&INDP=0670&INDP=0680&INDP=0690&INDP=0770&INDP=1070&INDP=1080&INDP=1090&INDP=1170&INDP=1180&INDP=1190&INDP=1270&INDP=1280&INDP=1290&INDP=1370&INDP=1390&INDP=1470&INDP=1480&INDP=1490&INDP=1570&INDP=1590&INDP=1670&INDP=1691&INDP=1770&INDP=1790&INDP=1870&INDP=1880&INDP=1890&INDP=1990&INDP=2070&INDP=2090&INDP=2170&INDP=2180&INDP=2190&INDP=2270&INDP=2280&INDP=2290&INDP=2370&INDP=2380&INDP=2390&INDP=2470&INDP=2480&INDP=2490&INDP=2570&INDP=2590&INDP=2670&INDP=2680&INDP=2690&INDP=2770&INDP=2780&INDP=2790&INDP=2870&INDP=2880&INDP=2890&INDP=2970&INDP=2980&INDP=2990&INDP=3070&INDP=3080&INDP=3095&INDP=3170&INDP=3180&INDP=3291&INDP=3365&INDP=3370&INDP=3380&INDP=3390&INDP=3470&INDP=3490&INDP=3570&INDP=3580&INDP=3590&INDP=3670&INDP=3680&INDP=3690&INDP=3770&INDP=3780&INDP=3790&INDP=3875&INDP=3895&INDP=3960&INDP=3970&INDP=3980&INDP=3990&INDP=4070&INDP=4080&INDP=4090&INDP=4170&INDP=4180&INDP=4195&INDP=4265&INDP=4270&INDP=4280&INDP=4290&INDP=4370&INDP=4380&INDP=4390&INDP=4470&INDP=4480&INDP=4490&INDP=4560&INDP=4570&INDP=4580&INDP=4585&INDP=4590&INDP=4670&INDP=4680&INDP=4690&INDP=4770&INDP=4780&INDP=4795&INDP=4870&INDP=4880&INDP=4890&INDP=4971&INDP=4972&INDP=4980&INDP=4990&INDP=5070&INDP=5080&INDP=5090&INDP=5170&INDP=5180&INDP=5190&INDP=5275&INDP=5280&INDP=5295&INDP=5370&INDP=5381&INDP=5391&INDP=5470&INDP=5480&INDP=5490&INDP=5570&INDP=5580&INDP=5593&INDP=5670&INDP=5680&INDP=5690&INDP=5790&INDP=6070&INDP=6080&INDP=6090&INDP=6170&INDP=6180&INDP=6190&INDP=6270&INDP=6280&INDP=6290&INDP=6370&INDP=6380&INDP=6390&INDP=6470&INDP=6480&INDP=6490&INDP=6570&INDP=6590&INDP=6670&INDP=6672&INDP=6680&INDP=6690&INDP=6695&INDP=6770&INDP=6780&INDP=6870&INDP=6880&INDP=6890&INDP=6970&INDP=6991&INDP=6992&INDP=7071&INDP=7072&INDP=7080&INDP=7181&INDP=7190&INDP=7270&INDP=7280&INDP=7290&INDP=7370&INDP=7380&INDP=7390&INDP=7460&INDP=7470&INDP=7480&INDP=7490&INDP=7570&INDP=7580&INDP=7590&INDP=7670&INDP=7680&INDP=7690&INDP=7770&INDP=7780&INDP=7790&INDP=7860&INDP=7870&INDP=7880&INDP=7890&INDP=7970&INDP=7980&INDP=7990&INDP=8070&INDP=8080&INDP=8090&INDP=8170&INDP=8180&INDP=8191&INDP=8192&INDP=8270&INDP=8290&INDP=8370&INDP=8380&INDP=8390&INDP=8470&INDP=8561&INDP=8562&INDP=8563&INDP=8564&INDP=8570&INDP=8580&INDP=8590&INDP=8660&INDP=8670&INDP=8680&INDP=8690&INDP=8770&INDP=8780&INDP=8790&INDP=8870&INDP=8891&INDP=8970&INDP=8980&INDP=8990&INDP=9070&INDP=9080&INDP=9090&INDP=9160&INDP=9170&INDP=9180&INDP=9190&INDP=9290&INDP=9370&INDP=9380&INDP=9390&INDP=9470&INDP=9480&INDP=9490&INDP=9570&INDP=9590&INDP=9670&INDP=9680&INDP=9690&INDP=9770&INDP=9780&INDP=9790&INDP=9870&INDP=9920'
geo = '&ucgid=7950000US2901801,7950000US2901802,7950000US2901803,7950000US2901804,7950000US2901805,7950000US2901806,7950000US2901807,7950000US2901808,7950000US2901901,7950000US2901902'

In [3]:
Grocery_Convenience_DrugStores = ['4470', '4971', '4972', '5070', '5391']
Public_Transit = ['6080', '6180']
Trucking_Warehouse_PostalService = ['6170', '6390', '6370']
Building_Cleaning_Services = ['7690']
Health_Care = ['7970', '8090', '8170', '8180', '8191', '8192', '8270', '8290']
ChildCare_SocialServices = ['8370', '8380', '8470']

frontline_industries = Grocery_Convenience_DrugStores + Public_Transit + Trucking_Warehouse_PostalService + Building_Cleaning_Services + Health_Care + ChildCare_SocialServices

In [4]:
def convert_industry_codes(df):
    df.replace(to_replace = {'4470':'Convenience_Stores', '4971':'Convenience_Stores', '4972':'Convenience_Stores', '5070':'Convenience_Stores', '5391':'Convenience_Stores'
                                         ,'6080':'Public_Transit', '6180':'Public_Transit'
                                         ,'6170':'Postal_Service', '6390':'Postal_Service', '6370':'Postal_Service'
                                         ,'7690':'Building_Cleaning'
                                         ,'7970':'Health_Care', '8090':'Health_Care', '8170':'Health_Care', '8180':'Health_Care', '8191':'Health_Care', '8192':'Health_Care', '8270':'Health_Care', '8290':'Health_Care'
                                         ,'8370':'Child_Care', '8380':'Child_Care', '8470':'Child_Care'}
                   , value = None
                   , inplace = True)
    return df

In [5]:
# df = dataframe passed in. Should be 2 columns. (var, 'INDP')
# var = lable on column var which contains 2 kinds of values to emulate a boolean 
#    (what matters is that the value for fieldT is less than the value for fieldF)
# fieldT = lable for result column which counts the % of total values in column var where value = fieldT
# fieldF = lable for result column which counts the % of total values in column var where value = fieldF

def format_dataframes(df, var, fieldT, fieldF):

    fieldFp = '% ' + fieldF
    fieldTp = '% ' + fieldT
    
    #create dataframe for all industries
    df_all = df.groupby(df[var]).size()
    df_all = df_all.reset_index()
    df_all = df_all.T
    df_all = df_all.rename(columns={0: fieldT, 1: fieldF})
    df_all = df_all.rename(index={0: "All_Industries"})
    df_all = df_all.drop(var)
    df_all['Total'] = df_all[fieldF] + df_all[fieldT]
    
    #create dataframe for all frontline industries
    df = df.loc[df['INDP'].isin(frontline_industries)]
    
    df_front = df.groupby(df[var]).size()
    df_front = df_front.reset_index()
    df_front = df_front.T
    df_front = df_front.rename(columns={0: fieldT, 1: fieldF})
    df_front = df_front.rename(index={0: "Frontline_Industries"})
    df_front = df_front.drop(var)
    df_front['Total'] = df_front[fieldF] + df_front[fieldT]
    
    #create dataframe for specific frontline industries
    convert_industry_codes(df)
    
    df = df.groupby(['INDP', var]).size()
    df = df.unstack(var)
    df.columns=[fieldT, fieldF]
    df.fillna(0, inplace = True)
    df['Total'] = df[fieldF] + df[fieldT]
    
    #combine dataframes
    df_combined = pd.concat([df_all, df_front, df])
    df_combined[fieldFp] = ((df_combined[fieldF] / df_combined['Total']) * 100).apply(lambda x: round(x, 1))
    df_combined[fieldTp] = ((df_combined[fieldT] / df_combined['Total']) * 100).apply(lambda x: round(x, 1))
    df_combined = df_combined.reset_index()
    
    df_final = pd.DataFrame(df_combined[['index', 'Total', fieldTp, fieldFp]])
    df_final.columns = ['Industry', 'Total', fieldTp, fieldFp]
    
    return (df_all, df_front, df, df_final)
    #return (df_final)

In [46]:
dataframelist = []
for variable in variable_list:
    API_REQUEST = base_url+variable+industries+geo
    get_data = requests.get(API_REQUEST).json()
    df = pd.DataFrame(get_data, columns=get_data.pop(0))
    dataframelist.append(df)

In [66]:
dataframelist

[      JWTR  INDP  PUMA  ST
 0        1  8191  1808  29
 1        1  7670  1808  29
 2        1  7670  1808  29
 3        1  8590  1901  29
 4        1  7270  1902  29
 ...    ...   ...   ...  ..
 34200    1  7590  1802  29
 34201    0  6570  1802  29
 34202    1  9480  1808  29
 34203    0  4470  1808  29
 34204    1  8191  1902  29

 [34205 rows x 4 columns]]

## Gender (SEX)##

In [48]:
popgender = dataframelist.pop(0)

In [49]:
gender = popgender[['SEX','INDP']]
gender_df = format_dataframes(gender, 'SEX', 'Male', 'Female')

In [50]:
gender_df[3]

               Industry  Total  % Male  % Female
0        All_Industries  34205    49.1      50.9
1  Frontline_Industries   7232    33.7      66.3
2     Building_Cleaning    267    55.4      44.6
3            Child_Care    802    14.5      85.5
4    Convenience_Stores   1312    49.7      50.3
5           Health_Care   4083    24.7      75.3
6        Postal_Service    592    70.6      29.4
7        Public_Transit    176    51.1      48.9

## Age 50+ (AGEP)##

In [51]:
popage = dataframelist.pop(0)

In [52]:
age = popage[['AGEP','INDP']]
age['AGEP'] = pd.to_numeric(age['AGEP'])
age.loc[age['AGEP'] < 50, 'AGEP'] = 2
age.loc[age['AGEP'] >= 50, 'AGEP'] = 1
age_df =  format_dataframes(age, 'AGEP', '50+', 'Under 50')

<ipython-input-52-6387acf0ae90>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age['AGEP'] = pd.to_numeric(age['AGEP'])

In [53]:
age_df[3]

               Industry  Total  % 50+  % Under 50
0        All_Industries  34205   41.3        58.7
1  Frontline_Industries   7232   42.8        57.2
2     Building_Cleaning    267   45.3        54.7
3            Child_Care    802   43.3        56.7
4    Convenience_Stores   1312   35.2        64.8
5           Health_Care   4083   43.1        56.9
6        Postal_Service    592   53.9        46.1
7        Public_Transit    176   48.3        51.7

## Have Insurance (HICOV)##

In [54]:
popinsurance = dataframelist.pop(0)

In [55]:
insurance = popinsurance[['HICOV','INDP']]
insurance_df =  format_dataframes(insurance, 'HICOV', 'Insured', 'Uninsured')

In [56]:
insurance_df[3].T

                          0                     1                  2           3                   4            5               6               7
Industry     All_Industries  Frontline_Industries  Building_Cleaning  Child_Care  Convenience_Stores  Health_Care  Postal_Service  Public_Transit
Total                 34205                  7232                267         802                1312         4083             592             176
% Insured                92                    92                 78          91                  90           94              90              90
% Uninsured             7.9                   8.2                 22         9.2                 9.5          6.3              10             9.7

## Presence of Elder 65+ in household (R65)##

In [57]:
popsenior = dataframelist.pop(0)

In [58]:
senior = popsenior[['R65','INDP']]
senior['R65'] = pd.to_numeric(senior['R65'])
senior.loc[senior['R65'] <= 0, 'R65'] = 0
senior.loc[senior['R65'] >= 1, 'R65'] = 1
senior_df =  format_dataframes(senior, 'R65', 'No Seniors', 'Senior (age 65+) in home')

<ipython-input-58-a1f39ee6fd3a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  senior['R65'] = pd.to_numeric(senior['R65'])

In [59]:
senior_df[3]

               Industry  Total  % No Seniors  % Senior (age 65+) in home
0        All_Industries  34205          80.7                        19.3
1  Frontline_Industries   7232          79.1                        20.9
2     Building_Cleaning    267          76.8                        23.2
3            Child_Care    802          74.4                        25.6
4    Convenience_Stores   1312          78.3                        21.7
5           Health_Care   4083          80.8                        19.2
6        Postal_Service    592          78.4                        21.6
7        Public_Transit    176          74.4                        25.6

## Presence of Child <18 in household (R18)##

In [60]:
popchild = dataframelist.pop(0)

In [61]:
child = popchild[['R18','INDP']]
child['R18'] = pd.to_numeric(child['R18'])
child.drop(child[child['R18'] == -1].index , inplace=True)
child_df =  format_dataframes(child, 'R18', 'No Children < 18', '1 or more Children in home')

<ipython-input-61-c95b2688d0dd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  child['R18'] = pd.to_numeric(child['R18'])

In [62]:
child_df[3]

               Industry  Total  % No Children < 18  % 1 or more Children in home
0        All_Industries  33055                65.7                          34.3
1  Frontline_Industries   7083                65.9                          34.1
2     Building_Cleaning    255                67.5                          32.5
3            Child_Care    789                65.9                          34.1
4    Convenience_Stores   1271                68.5                          31.5
5           Health_Care   4009                64.4                          35.6
6        Postal_Service    583                70.2                          29.8
7        Public_Transit    176                64.8                          35.2

## Part time or Full time work (WKHP)##

In [63]:
popwork = dataframelist.pop(0)

In [64]:
work = popwork[['WKHP','INDP']]
work.drop(work[work['WKHP'] == '0'].index , inplace=True)
work['WKHP'] = pd.to_numeric(work['WKHP'])
work.loc[work['WKHP'] < 40, 'WKHP'] = 0
work.loc[work['WKHP'] >= 40, 'WKHP'] = 1
work_df =  format_dataframes(work, 'WKHP', 'Part-Time', 'Full-Time')

<ipython-input-64-7e829311356e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work['WKHP'] = pd.to_numeric(work['WKHP'])

In [65]:
work_df[3]

               Industry  Total  % Part-Time  % Full-Time
0        All_Industries  30116         31.5         68.5
1  Frontline_Industries   6328         36.0         64.0
2     Building_Cleaning    222         51.8         48.2
3            Child_Care    675         47.9         52.1
4    Convenience_Stores   1139         46.8         53.2
5           Health_Care   3644         32.6         67.4
6        Postal_Service    506         14.0         86.0
7        Public_Transit    142         35.2         64.8

## Public Transportation (JWTR)##

In [67]:
poptrans = dataframelist.pop(0)

In [70]:
trans = poptrans[['JWTR','INDP']]
trans['JWTR'] = pd.to_numeric(trans['JWTR'])
trans.drop(trans[trans['JWTR'] == 0].index , inplace=True)
trans.loc[trans['JWTR'] >= 8, 'JWTR'] = 1
trans.loc[trans['JWTR'] >= 2, 'JWTR'] = 0

<ipython-input-70-5097a55a9ad1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans['JWTR'] = pd.to_numeric(trans['JWTR'])

In [72]:
trans_df =  format_dataframes(trans, 'JWTR', 'Public Transportation', 'Private Transportation')

In [73]:
trans_df[3]

               Industry  Total  % Public Transportation  % Private Transportation
0        All_Industries  26633                      3.6                      96.4
1  Frontline_Industries   5671                      4.3                      95.7
2     Building_Cleaning    187                      8.0                      92.0
3            Child_Care    573                      3.7                      96.3
4    Convenience_Stores    987                      4.4                      95.6
5           Health_Care   3342                      4.2                      95.8
6        Postal_Service    457                      3.1                      96.9
7        Public_Transit    125                      9.6                      90.4

## Foreign Born (WAOB) ##