In [1]:
import pandas as pd
import requests

from pprint import pprint
from resources.api_keys import census_api_key

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)
pd.options.display.max_columns = None
pd.options.display.max_rows = 40

In [2]:
base_url = 'https://api.census.gov/data/2018/acs/acs5/pums?get='
weighting = 'PWGTP,'
variable_list = ['SEX', 'AGEP', 'HICOV', 'R65', 'RAC1P']
industries = '&INDP=0170&INDP=0180&INDP=0190&INDP=0270&INDP=0280&INDP=0290&INDP=0370&INDP=0380&INDP=0390&INDP=0470&INDP=0490&INDP=0570&INDP=0580&INDP=0590&INDP=0670&INDP=0680&INDP=0690&INDP=0770&INDP=1070&INDP=1080&INDP=1090&INDP=1170&INDP=1180&INDP=1190&INDP=1270&INDP=1280&INDP=1290&INDP=1370&INDP=1390&INDP=1470&INDP=1480&INDP=1490&INDP=1570&INDP=1590&INDP=1670&INDP=1691&INDP=1770&INDP=1790&INDP=1870&INDP=1880&INDP=1890&INDP=1990&INDP=2070&INDP=2090&INDP=2170&INDP=2180&INDP=2190&INDP=2270&INDP=2280&INDP=2290&INDP=2370&INDP=2380&INDP=2390&INDP=2470&INDP=2480&INDP=2490&INDP=2570&INDP=2590&INDP=2670&INDP=2680&INDP=2690&INDP=2770&INDP=2780&INDP=2790&INDP=2870&INDP=2880&INDP=2890&INDP=2970&INDP=2980&INDP=2990&INDP=3070&INDP=3080&INDP=3095&INDP=3170&INDP=3180&INDP=3291&INDP=3365&INDP=3370&INDP=3380&INDP=3390&INDP=3470&INDP=3490&INDP=3570&INDP=3580&INDP=3590&INDP=3670&INDP=3680&INDP=3690&INDP=3770&INDP=3780&INDP=3790&INDP=3875&INDP=3895&INDP=3960&INDP=3970&INDP=3980&INDP=3990&INDP=4070&INDP=4080&INDP=4090&INDP=4170&INDP=4180&INDP=4195&INDP=4265&INDP=4270&INDP=4280&INDP=4290&INDP=4370&INDP=4380&INDP=4390&INDP=4470&INDP=4480&INDP=4490&INDP=4560&INDP=4570&INDP=4580&INDP=4585&INDP=4590&INDP=4670&INDP=4680&INDP=4690&INDP=4770&INDP=4780&INDP=4795&INDP=4870&INDP=4880&INDP=4890&INDP=4971&INDP=4972&INDP=4980&INDP=4990&INDP=5070&INDP=5080&INDP=5090&INDP=5170&INDP=5180&INDP=5190&INDP=5275&INDP=5280&INDP=5295&INDP=5370&INDP=5381&INDP=5391&INDP=5470&INDP=5480&INDP=5490&INDP=5570&INDP=5580&INDP=5593&INDP=5670&INDP=5680&INDP=5690&INDP=5790&INDP=6070&INDP=6080&INDP=6090&INDP=6170&INDP=6180&INDP=6190&INDP=6270&INDP=6280&INDP=6290&INDP=6370&INDP=6380&INDP=6390&INDP=6470&INDP=6480&INDP=6490&INDP=6570&INDP=6590&INDP=6670&INDP=6672&INDP=6680&INDP=6690&INDP=6695&INDP=6770&INDP=6780&INDP=6870&INDP=6880&INDP=6890&INDP=6970&INDP=6991&INDP=6992&INDP=7071&INDP=7072&INDP=7080&INDP=7181&INDP=7190&INDP=7270&INDP=7280&INDP=7290&INDP=7370&INDP=7380&INDP=7390&INDP=7460&INDP=7470&INDP=7480&INDP=7490&INDP=7570&INDP=7580&INDP=7590&INDP=7670&INDP=7680&INDP=7690&INDP=7770&INDP=7780&INDP=7790&INDP=7860&INDP=7870&INDP=7880&INDP=7890&INDP=7970&INDP=7980&INDP=7990&INDP=8070&INDP=8080&INDP=8090&INDP=8170&INDP=8180&INDP=8191&INDP=8192&INDP=8270&INDP=8290&INDP=8370&INDP=8380&INDP=8390&INDP=8470&INDP=8561&INDP=8562&INDP=8563&INDP=8564&INDP=8570&INDP=8580&INDP=8590&INDP=8660&INDP=8670&INDP=8680&INDP=8690&INDP=8770&INDP=8780&INDP=8790&INDP=8870&INDP=8891&INDP=8970&INDP=8980&INDP=8990&INDP=9070&INDP=9080&INDP=9090&INDP=9160&INDP=9170&INDP=9180&INDP=9190&INDP=9290&INDP=9370&INDP=9380&INDP=9390&INDP=9470&INDP=9480&INDP=9490&INDP=9570&INDP=9590&INDP=9670&INDP=9680&INDP=9690&INDP=9770&INDP=9780&INDP=9790&INDP=9870&INDP=9920'
geo = '&ucgid=7950000US2901801,7950000US2901802,7950000US2901803,7950000US2901804,7950000US2901805,7950000US2901806,7950000US2901807,7950000US2901808,7950000US2901901,7950000US2901902'

In [3]:
Grocery_Convenience_DrugStores = ['4470', '4971', '4972', '5070', '5391']
Public_Transit = ['6080', '6180']
Trucking_Warehouse_PostalService = ['6170', '6390', '6370']
Building_Cleaning_Services = ['7690']
Health_Care = ['7970', '8090', '8170', '8180', '8191', '8192', '8270', '8290']
ChildCare_SocialServices = ['8370', '8380', '8470']

frontline_industries = Grocery_Convenience_DrugStores + Public_Transit + Trucking_Warehouse_PostalService + Building_Cleaning_Services + Health_Care + ChildCare_SocialServices

In [4]:
def convert_industry_codes(df):
    df.replace(to_replace = {'4470':'Convenience_Stores', '4971':'Convenience_Stores', '4972':'Convenience_Stores', '5070':'Convenience_Stores', '5391':'Convenience_Stores'
                                         ,'6080':'Public_Transit', '6180':'Public_Transit'
                                         ,'6170':'Postal_Service', '6390':'Postal_Service', '6370':'Postal_Service'
                                         ,'7690':'Building_Cleaning'
                                         ,'7970':'Health_Care', '8090':'Health_Care', '8170':'Health_Care', '8180':'Health_Care', '8191':'Health_Care', '8192':'Health_Care', '8270':'Health_Care', '8290':'Health_Care'
                                         ,'8370':'Child_Care', '8380':'Child_Care', '8470':'Child_Care'}
                   , value = None
                   , inplace = True)
    return df

In [5]:
# df = dataframe passed in. Should be 2 columns. (var, 'INDP')
# var = lable on column var which contains 0s and 1s
# fieldT = lable for result column which counts the % of total values in column var where value = 1 (true)
# fieldT = lable for result column which counts the % of total values in column var where value = 0 (false)

def format_dataframes(df, var, fieldT, fieldF):
    
    fieldFp = '% ' + fieldF
    fieldTp = '% ' + fieldT
    
    #create dataframe for all industries
    df_all = df.groupby(df[var]).size()
    df_all = df_all.reset_index()
    df_all = df_all.T
    df_all = df_all.rename(columns={0: fieldF, 1: fieldT})
    df_all = df_all.rename(index={0: "All_Industries"})
    df_all = df_all.drop(var)
    df_all['Total'] = df_all[fieldF] + df_all[fieldT]
    
    #create dataframe for all frontline industries
    df = df.loc[df['INDP'].isin(frontline_industries)]
    
    df_front = df.groupby(df[var]).size()
    df_front = df_front.reset_index()
    df_front = df_front.T
    df_front = df_front.rename(columns={0: fieldF, 1: fieldT})
    df_front = df_front.rename(index={0: "Frontline_Industries"})
    df_front = df_front.drop(var)
    df_front['Total'] = df_front[fieldF] + df_front[fieldT]
    
    #create dataframe for specific frontline industries
    convert_industry_codes(df)
    
    df = df.groupby(['INDP', var]).size()
    df = df.unstack(var)
    df.columns=[fieldF, fieldT]
    df.fillna(0, inplace = True)
    df['Total'] = df[fieldF] + df[fieldT]
    
    #combine dataframes
    df_combined = pd.concat([df_all, df_front, df])
    df_combined[fieldFp] = ((df_combined[fieldF] / df_combined['Total']) * 100).apply(lambda x: round(x, 1))
    df_combined[fieldTp] = ((df_combined[fieldT] / df_combined['Total']) * 100).apply(lambda x: round(x, 1))
    df_combined = df_combined.reset_index()
    
    df_final = pd.DataFrame(df_combined[['index', 'Total', fieldFp, fieldTp]])
    df_final.columns = ['Industry', 'Total', fieldFp, fieldTp]
    
    #return (df_all, df_front, df, df_final)
    return (df_final)

In [6]:
dataframelist = []
for variable in variable_list:
    API_REQUEST = base_url+variable+industries+geo
    get_data = requests.get(API_REQUEST).json()
    df = pd.DataFrame(get_data, columns=get_data.pop(0))
    dataframelist.append(df)

In [7]:
dataframelist

[      SEX  INDP  PUMA  ST
 0       2  7270  1806  29
 1       2  2370  1803  29
 2       2  6480  1805  29
 3       2  8770  1808  29
 4       1  8770  1808  29
 ...    ..   ...   ...  ..
 34200   2  7071  1807  29
 34201   2  8564  1901  29
 34202   1  7270  1901  29
 34203   1  5580  1804  29
 34204   2  6992  1804  29

 [34205 rows x 4 columns],
       AGEP  INDP  PUMA  ST
 0       52  7270  1806  29
 1       48  2370  1803  29
 2       75  6480  1805  29
 3       38  8770  1808  29
 4       37  8770  1808  29
 ...    ...   ...   ...  ..
 34200   39  7071  1807  29
 34201   66  8564  1901  29
 34202   66  7270  1901  29
 34203   69  5580  1804  29
 34204   67  6992  1804  29

 [34205 rows x 4 columns],
       HICOV  INDP  PUMA  ST
 0         1  7270  1806  29
 1         1  2370  1803  29
 2         1  6480  1805  29
 3         1  8770  1808  29
 4         1  8770  1808  29
 ...     ...   ...   ...  ..
 34200     1  7071  1807  29
 34201     1  8564  1901  29
 34202     1  7270  1901  29
 34203     1  5580  1804  29
 34204     1  6992  1804  29

 [34205 rows x 4 columns],
       R65  INDP  PUMA  ST
 0       0  6070  1902  29
 1       0  4470  1902  29
 2       1  5593  1902  29
 3       1  7690  1802  29
 4       1  8680  1802  29
 ...    ..   ...   ...  ..
 34200   0  7071  1807  29
 34201   2  8564  1901  29
 34202   2  7270  1901  29
 34203   2  5580  1804  29
 34204   2  6992  1804  29

 [34205 rows x 4 columns],
       RAC1P  INDP  PUMA  ST
 0         9  7270  1806  29
 1         2  2370  1803  29
 2         2  6480  1805  29
 3         1  8770  1808  29
 4         1  8770  1808  29
 ...     ...   ...   ...  ..
 34200     1  7071  1807  29
 34201     1  8564  1901  29
 34202     1  7270  1901  29
 34203     1  5580  1804  29
 34204     1  6992  1804  29

 [34205 rows x 4 columns]]

In [8]:
popgender = dataframelist.pop(0)

In [34]:
gender = popgender[['SEX','INDP']]

In [9]:
#gender_all = gender.groupby("SEX")["INDP"].count()
gender_all = gender.groupby(gender['SEX']).size()
gender_all = gender_all.reset_index()
gender_all = gender_all.T
gender_all = gender_all.rename(columns={0: "Male", 1: "Female"})
gender_all = gender_all.rename(index={0: "All_Industries"})
gender_all = gender_all.drop('SEX')
gender_all['Total'] = gender_all['Male'] + gender_all['Female']
gender_all

                 Male Female  Total
All_Industries  16809  17396  34205

## Gender counts for only frontline Industries ##

In [10]:
gender = gender.loc[gender['INDP'].isin(frontline_industries)]

In [11]:
gender_front = gender.groupby(gender['SEX']).size()
gender_front = gender_front.reset_index()
gender_front = gender_front.T
gender_front = gender_front.rename(columns={0: "Male", 1: "Female"})
gender_front = gender_front.rename(index={0: "Frontline_Industries"})
gender_front = gender_front.drop('SEX')
gender_front['Total'] = gender_front['Male'] + gender_front['Female']
gender_front

                      Male Female Total
Frontline_Industries  2434   4798  7232

## Gender counts for industry groupings ##

In [12]:
convert_industry_codes(gender)

      SEX                INDP
7       2  Convenience_Stores
10      2         Health_Care
11      2         Health_Care
14      1         Health_Care
20      2  Convenience_Stores
...    ..                 ...
34188   1  Convenience_Stores
34192   2   Building_Cleaning
34196   2      Public_Transit
34203   1  Convenience_Stores
34204   2         Health_Care

[7232 rows x 2 columns]

In [13]:
gender = gender.groupby(['INDP', 'SEX']).size()

In [14]:
gender = gender.unstack('SEX')
gender.columns=['Male', 'Female']

In [15]:
gender.fillna(0, inplace = True)

In [16]:
gender['Total'] = gender['Male'] + gender['Female']

## Combine data frames ##

In [17]:
gender_combined = pd.concat([gender_all, gender_front, gender])

In [18]:
gender_combined['% Male'] = ((gender_combined['Male'] / gender_combined['Total']) * 100).apply(lambda x: round(x, 1))
gender_combined['% Female'] = ((gender_combined['Female'] / gender_combined['Total']) * 100).apply(lambda x: round(x, 1))

In [19]:
gender_combined = gender_combined.reset_index()

In [20]:
gender_final = pd.DataFrame(gender_combined[['index', 'Total', '% Male', '% Female']])

In [21]:
gender_final.columns = ['Industry', 'Total', '% Male', '% Female']

In [22]:
gender_final

               Industry  Total  % Male  % Female
0        All_Industries  34205    49.1      50.9
1  Frontline_Industries   7232    33.7      66.3
2     Building_Cleaning    267    55.4      44.6
3            Child_Care    802    14.5      85.5
4    Convenience_Stores   1312    49.7      50.3
5           Health_Care   4083    24.7      75.3
6        Postal_Service    592    70.6      29.4
7        Public_Transit    176    51.1      48.9

## Age ##

In [11]:
popage = dataframelist.pop(0)

In [12]:
age = popage[['AGEP','INDP']]

In [13]:
age['AGEP'] = pd.to_numeric(age['AGEP'])
age.loc[age['AGEP'] < 50, 'AGEP'] = 0
age.loc[age['AGEP'] >= 50, 'AGEP'] = 1

<ipython-input-13-e6bb06b07cf8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age['AGEP'] = pd.to_numeric(age['AGEP'])
c:\users\kab0320\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

## All industries ##

In [14]:
age_all = age.copy()

In [45]:
age_all = age_all.groupby(age_all['AGEP']).size().reset_index()
age_all = age_all.T
age_all = age_all.rename(columns={0: "Under 50", 1: "50+"})
age_all = age_all.rename(index={0: "All_Industries"})
age_all = age_all.drop('AGEP')
age_all['Total'] = age_all['50+'] + age_all['Under 50']

In [46]:
age_all

                Under 50    50+  Total
All_Industries     20085  14120  34205

## Age Frontline Industries ##

In [47]:
age = age.loc[age['INDP'].isin(frontline_industries)]

In [48]:
age_front = age.groupby(age['AGEP']).size()
age_front = age_front.reset_index()
age_front = age_front.T
age_front = age_front.rename(columns={0: "Under 50", 1: "50+"})
age_front = age_front.rename(index={0: "Frontline_Industries"})
age_front = age_front.drop('AGEP')
age_front['Total'] = age_front['50+'] + age_front['Under 50']
age_front

                      Under 50   50+  Total
Frontline_Industries      4140  3092   7232

## age groupings ##

In [49]:
convert_industry_codes(age)

       AGEP                INDP
0         0         Health_Care
9         0         Health_Care
25        0         Health_Care
37        1         Health_Care
42        0      Public_Transit
...     ...                 ...
34188     0  Convenience_Stores
34192     0   Building_Cleaning
34196     1      Public_Transit
34203     1  Convenience_Stores
34204     0         Health_Care

[7232 rows x 2 columns]

In [50]:
age = age.groupby(['INDP', 'AGEP']).size()

age = age.unstack('AGEP')
age.columns=['50+', 'Under 50']

age.fillna(0, inplace = True)

age['Total'] = age['50+'] + age['Under 50']

In [51]:
age

                     50+  Under 50  Total
INDP
Building_Cleaning    146       121    267
Child_Care           455       347    802
Convenience_Stores   850       462   1312
Health_Care         2325      1758   4083
Postal_Service       273       319    592
Public_Transit        91        85    176

## Combine age data frames ##

In [52]:
age_combined = pd.concat([age_all, age_front, age])

age_combined['% 50+'] = ((age_combined['50+'] / age_combined['Total']) * 100).apply(lambda x: round(x, 1))
age_combined['% Under 50'] = ((age_combined['Under 50'] / age_combined['Total']) * 100).apply(lambda x: round(x, 1))

age_combined = age_combined.reset_index()

age_final = pd.DataFrame(age_combined[['index', 'Total', '% 50+', '% Under 50']])

age_final.columns = ['Industry', 'Total', '% 50+', '% Under 50']

age_final

<ipython-input-52-60bdd92a6102>:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  age_combined = pd.concat([age_all, age_front, age])

               Industry  Total  % 50+  % Under 50
0        All_Industries  34205   41.3        58.7
1  Frontline_Industries   7232   42.8        57.2
2     Building_Cleaning    267   54.7        45.3
3            Child_Care    802   56.7        43.3
4    Convenience_Stores   1312   64.8        35.2
5           Health_Care   4083   56.9        43.1
6        Postal_Service    592   46.1        53.9
7        Public_Transit    176   51.7        48.3

In [45]:
age_fun =  format_dataframes(age, 'AGEP', '50+', 'Under 50')

In [40]:
gender_fun = format_dataframes(gender, 'SEX', 'Male', 'Female')

c:\users\kab0320\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [41]:
gender_fun

               Industry  Total  % Female  % Male
0        All_Industries  34205      50.9    49.1
1  Frontline_Industries   7232      66.3    33.7
2     Building_Cleaning    267      44.6    55.4
3            Child_Care    802      85.5    14.5
4    Convenience_Stores   1312      50.3    49.7
5           Health_Care   4083      75.3    24.7
6        Postal_Service    592      29.4    70.6
7        Public_Transit    176      48.9    51.1