In [4]:
# Third Party
import censusdata as cd
import pandas as pd

In [2]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

In [5]:
censusdata.download('acs5', 2015, censusdata.censusgeo([('state', '06'), ('place', '53000')]), ['B01001_001E', 'B01002_001E', 'B19013_001E'])

                                                    B01001_001E  B01002_001E  B19013_001E
Oakland city, California: Summary level: 160, s...       408073         36.3        54618